@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: #EEF9BF;
    box-sizing: border-box;
    padding: 0 180px;
}

.titulo{
    font-size: 56px;
    color: #75B79E;
    padding-top: 40px;
    padding-bottom: 47px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.mesa-jogo{
    gap: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    transition: transform 1s;
    position: relative;
}

.transicao{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.back img, .front img{
    width: 100px;
    height: 100px;
} 

.back, .front {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
} 

.back{
    position: absolute;
    left: 10px;
    top: 22px;
}

.front{
    transform: rotateY(180deg);
    position: absolute;
    right: 10px;
    top: 22px;
}

.relogio{
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    background-color: #75B79E;
    position: absolute;
    top: 0px;
    right: 45px;
}

@media (max-width: 614px){
    .titulo{
        font-size: 36px;
    }

    body{
        padding: 0 20px;
    }

    .relogio{
        width: 45px;
        height: 30px;
        font-size: 25px;
    }
}